---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About For Nerds";

const identity = {
  firstName: "Myles",
  country: "Australia",
  occupation: "IT support guy",
  hobbies: ["hiking", "birdwatching", "gaming", "playing the violin", "drawing"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs", "Python", "Powershell"];

const finished = true;

const skillColour = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout pageTitle = {pageTitle}>
	<p>How'd you get here? Astro site's template for their about page shows off a bit much and feels a bit too programmy. Please enjoy while you are here though. Modified stuff below:</p>

	<p>In between jobs, hobbies, countries and projects. Working on becoming a someone.</p>
          
	<p>Here are a few facts about me:</p>
	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>I live in {identity.country} and have worked mostly as an {identity.occupation}.</li>
		{identity.hobbies.length >= 2 &&
			<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
		}
	</ul>
	<p>Coding language wise, I'm familiar with:</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	{finished && <p>Have recently finished the astro tutorial and am working on cleaning up the site for more to come.</p>}
</BaseLayout>